@using System.ComponentModel
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var textBlock = (TextBlock)Model.Content;
}

<section>
    <div class="container mx-auto flex flex-col items-center md:flex-row @(textBlock.ImagePosition == "Links" ? "!flex-row-reverse" : "")">
        <div class="mb-16 flex flex-col items-center md:w-1/2 md:pr-16 md:items-start md:text-left md:mb-0 lg:flex-grow lg:pr-24">
            <h1 class="title-font mb-4 text-3xl font-medium text-gray-900 sm:text-4xl">@textBlock.Title
            </h1>
            @Html.Raw(textBlock.Text)
            @if(textBlock.ButtonLink != null){
                <div class="mt-4 flex justify-center">
                    <a href="@textBlock.ButtonLink.Url" class="btn-primary">@(textBlock.ButtonText ?? textBlock.ButtonLink.Name)</a>
                </div>
            }
        </div>

        @if(textBlock.Images?.Count() > 0){
            <div class="swiper max-w-full">
                <div class="swiper-wrapper">
                    @foreach (var img in textBlock.Images!)
                    {
                        <img class="swiper-slide cursor-pointer rounded object-cover object-center" alt="hero" src="@img.GetCropUrl()" data-fancybox="gallery">
                    }
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        }
    </div>
</section>


<style>
    :root {
        --swiper-theme-color: #fff;
        --swiper-navigation-size: 24px;
    }
    .swiper {
        width: 600px;
        height: 300px;
    }
</style>

<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        
        pagination: {
            el: '.swiper-pagination'
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
    });

    Fancybox.bind("[data-fancybox]", {
    });
</script>